CONNECTION_TO_DB="" #Esta es la conexión hacia tu base de datos, la sintaxis es la siguiente: motorDB://userName:password@host/nameDatabase

REMOTE_CONNECTION_TO_METADATA_DB="" #Esta es la conexión hacia la base de datos de metadatos de Airflow, la sintaxis es la misma que la conexión a la base de datos anterior
LOCAL_CONNECTION_TO_METADATA_DB="" #Esta es la conexión por defecto y que se aloja en la raiz del proyecto, la sintaxis default es: sqlite:///home/user/my_proyect/airflow.db